.team-bar {
  margin: 6px;
  .MuiListItem-root {
    justify-content: center;
  }
  .MuiIconButton-root {
    border-radius: 4px !important;
    width: 52px;
    height: 52px;
    background: rgba(1, 1, 1, 0.5);
  }
}

.sidebar-secondary-panel {
  margin: 6px;
  .MuiList-root {
    padding-top: 0px;
  }

  .MuiListItemButton-root.channel-item {
    justify-content: space-between;
    background: rgba(1, 1, 1, 0.5);
    margin: 8px;
    border-radius: 4px;
  }

  .team-actions {
    .MuiIconButton-root {
      border-radius: 4px !important;
      background: rgba(1, 1, 1, 0.5);
    }
  }
}

.MuiDrawer-paper {
  border-right: 0px !important;
}

.selected-team-title {
  background: rgba(1, 1, 1, 0.5);
  height: 52px;
  border-radius: 4px;
  margin: 8px;
  padding-left: 4px;

  .MuiTypography-root {
    font-size: 16px;
    max-width: 230px;
  }
}

.create-chat-button {
  background: rgba(1, 1, 1, 0.5);
  height: 52px;
  border-radius: 4px;
  margin: 8px;

  .MuiTypography-root {
    font-size: 16px;
    max-width: 230px;
  }
}

